extends layout

block content
    .row
        .col-sm-12
            .conteiner-s-in.text-center
                form.form-signin(action='/cabinet/update' method='post' enctype='multipart/form-data')
                    h1.h3.mb-3.font-weight-normal Общая информация
                    label.sr-only(for='fio') ФИО
                    input#fio.form-control(type='text' placeholder='ФИО' value='' name='fio')
                    label.sr-only(for='mobile') Мобильный телефон
                    input#mobile.form-control(type='text' placeholder='Мобильный телефон' name='phone' )
                    label.sr-only(for='email') Email
                    input#email.form-control(type='email' placeholder='email' name='email' value='#{user.email}' disabled)
                    label.sr-only(for='status') Статус
                    input#status.form-control(type='text' placeholder='Статус' name='status' disabled)
                    input#photo.form-control(type='file' name='file')
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Сохранить


