extends layout

block content
  h1 login
  if errorText
    h2= errorText
  form(action='/user/login' method='post')
    .form-group
      label(for='email') Email address
      input#email.form-control(type='email' name='email' value='#{email}')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password' name='password')
    button.btn.btn-primary(type='submit') Submit

